<ion-view>
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
      <div class="row">
          <div class="col col-25 green">
              <ion-item href="#/app/boenner"><img class="logo_small" src="img/LOGO_bonner.png" alt="" /></ion-item>
          </div>
          <div class="col col-offset-1 text-center green">
              <div class="row">
                  <div class="col">
                      <ion-item ng-click="formular()">
                          <h2>Skriv en bøn</h2>
                      </ion-item>
                  </div>
              </div>
          </div>
      </div>
      <div class="row"><div class="spacer"></div></div>
      <div class="row">
          <div class="col col-10 green col-center text-center" id="prev" ng-click="boenneGoLeft()"></div>
          <div class="col green text-center nopadding col-center">
              <ion-slide-box class="beanslider" show-pager="false" on-slide-changed="boenneSlideChange($index)">
                  <ion-slide class="greenbean" ng-repeat="bon in boenner">
                      <div class="beantext">
                      <p class="maxtxt">{{bon.text}}</p>
                      </div>
                  </ion-slide>
              </ion-slide-box>
          </div>
          <div class="col col-10 green col-center text-center"  id="next" ng-click="boenneGoRight()"></div>
      </div>
      <div class="row"><div class="spacer"></div></div>
      <div class="row">
          <div class="col green minheight">
          </div>
          <div class="col col-40 col-offset-1 green">
              <h3 class="search">&nbsp;</h3>
          </div>
      </div>
      <div class="row"><div class="spacer"></div></div>



  </ion-content>
    <ion-footer-bar align-title="left" class="bar-positive">

    </ion-footer-bar>
</ion-view>


