<ion-view>
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

      <div class="row">

          <div class="col col-70 grey nopadding">
              <ion-item href="#/app/salmer/{{dagenssalme.id}}">
                  <div class="row row-center">
                      <div class="col col-40">
                        <img class="logo" src="img/LOGO_salmer.png" alt="" />
                      </div>
                      <div class="col col-center text-center nopadding">
                            <p class="dagens">&quot;{{dagenssalme.title}}&quot;</p>
                          <!--<p class="dagens"><span>Dagens salme:</span>&quot;{{dagenssalme.title}}&quot;</p>-->
                      </div>
                  </div>
              </ion-item>
          </div>
          <div class="col col-offset-1 green text-center nopadding">
              <ion-item href="#/app/boenner">
                  <div class="row">
                      <div class="col">
                        <img class="logo" src="img/LOGO_bonner.png" alt="" />
                      </div>
                  </div>
              </ion-item>
          </div>
      </div>
      <div class="row"><div class="spacer"></div></div>
          <div class="row">
              <div class="col image">
                  <ion-item href="#/app/ord/{{dagenstext.id}}">
                  <div ng-bind-html="dagenstext.image"></div>
                  </ion-item>
              </div>
          </div>
      <div class="row"><div class="spacer"></div></div>
      <div class="row">
          <div class="col blue nopadding">
              <ion-item href="#/app/ord/{{dagenstext.id}}">
                  <div class="row row-center">
                      <div class="col col-40">
                          <img class="logo" src="img/LOGO_dagensord.png" alt="" />
                      </div>
                      <div class="col col-center text-center padding_right">
                          <p class="dagens">&quot;{{dagenstext.title}}&quot;</p>
                          <p class="dagens">Præst: {{dagenstext.performer}}</p>
                      </div>
                  </div>
              </ion-item>
          </div>
          <div class="col col-25 col-offset-1 yellow text-center">
              <ion-item href="#/app/mere">
                  <div class="row">
                      <div class="col">
                          <img class="logo more" src="img/LOGO_mere.png" alt="" />
                      </div>
                  </div>
              </ion-item>
          </div>
      </div>


  </ion-content>
    <ion-footer-bar align-title="left" class="bar-positive">

    </ion-footer-bar>
</ion-view>
