<ion-view title="Dagens Ord">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

      <div class="row">

          <div class="col col-60" style="background: #00d4b4;" id="do">
              <ion-item href="#/app/salmer/{{dagenssalme.id}}">
              <h2>Salmer</h2>
              <p>Dagens: {{dagenssalme.title}}</p>
              </ion-item>
          </div>
          <div class="col col-offset-1" style="background: #c8e5bc;">
              <ion-item href="#/app/boenner">
              <h2>Bønner</h2>
              <p>Ikon og antal bønner.</p>
              </ion-item>
          </div>
      </div>
      <div class="row"><div class="spacer"></div></div>
          <div class="row">
              <div class="col" style="background: #cccccc;">
                  <ion-item href="#/app/ord/{{dagenstext.id}}">
                  <div ng-bind-html="dagenstext.image"></div>
                  </ion-item>
              </div>
          </div>
      <div class="row"><div class="spacer"></div></div>
      <div class="row">
          <div class="col col-70" style="background: #00d4b4;">
              <ion-item href="#/app/ord/{{dagenstext.id}}">
              <h2>Dagens Ord</h2>
              <p>Præst: {{dagenstext.performer}}</p>
              <p style="font-style: italic;">{{dagenstext.title}}</p>
              </ion-item>
          </div>
          <div class="col col-offset-1" style="background: #c8e5bc;">
              <h4>Mere</h4>
              <p>Ikon</p>
          </div>
      </div>


  </ion-content>
    <ion-footer-bar align-title="center" class="bar-positive">

        <h1 class="title">Footer</h1>

    </ion-footer-bar>
</ion-view>
