<ion-view title="Dagens Ord">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

      <div class="row">
          <div class="col col-60" style="background: #00d4b4;">
              <h4>Salmer</h4>
              <p>Ikon og titel på dagens salme</p>
          </div>
          <div class="col col-offset-1" style="background: #c8e5bc;">
              <h4>Bønner</h4>
              <p>Ikon og antal bønner.</p>
          </div>
      </div>
      <div class="row"><div class="spacer"></div></div>
          <div class="row">
              <div class="col" style="background: #cccccc;">
                  <h4>Billed</h4>
                  <p>Billed af dagens præst</p>
              </div>
          </div>
      <div class="row"><div class="spacer"></div></div>
      <div class="row">
          <div class="col col-70" style="background: #00d4b4;">
              <h4>Dagens Ord</h4>
              <p>Tekst m.m.</p>
          </div>
          <div class="col col-offset-1" style="background: #c8e5bc;">
              <h4>Mere</h4>
              <p>Ikon</p>
          </div>
      </div>


  </ion-content>
    <ion-footer-bar align-title="center" class="bar-positive">

        <h1 class="title">Footer</h1>

    </ion-footer-bar>
</ion-view>
