<ion-view >
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="row">
            <div class="col col-25 blue">
                <ion-item href="#/app/om"><img class="logo_small" src="img/LOGO_dagensord.png" alt="" /></ion-item>
            </div>
            <div class="col col-offset-1 text-center blue">
            </div>
        </div>
        <div class="row"><div class="spacer"></div></div>
        <div class="row">
            <div class="col blue">
                <div class="col blue lightblue">
                    <span ng-bind-html="about.text"></span>
                </div>
            </div>
        </div>
        <div class="row"><div class="spacer"></div></div>
        <div class="row">
            <div class="col blue">

            </div>
            <div class="col col-40 col-offset-1 blue">
                <ion-item href="#/app/ord" class="search"><h3>Se dagens ord</h3></ion-item>
            </div>
        </div>

    </ion-content>
    <ion-footer-bar align-title="left" class="bar-positive">

    </ion-footer-bar>
</ion-view>
