<ion-view>
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" on-infinite-scroll="addMoreItem">
    <ion-list>
        <div class="listview">
          <ion-item ng-repeat="item in ord" href="#/app/ord/{{item.id}}">
              <div class="row nopadding">
                  <div class="col col-25 green nopadding">

                  </div>
                  <div class="col blue nopadding">
                      <h2>{{item.title}}</h2>
                      <p class="meta">{{item.performer}}</p>
                  </div>
              </div>
          </ion-item>
        </div>
    </ion-list>
  </ion-content>
</ion-view>