<div class="modal">
    <ion-header-bar>
        <h1 class="title">&nbsp;</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeFormular()">Luk</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="sendFormular()">
            <div class="list">
                <label class="item">
                    <textarea ng-model="formularData.text" placeholder="Skriv din bøn her (max 200 karakterer)" maxlength="200"></textarea>
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Send</button>
                </label>
            </div>
        </form>
    </ion-content>
</div>