<ion-view>
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
        <form ng-submit="sendSoeg('salme')" class="soegsalme">
            <div class="row nopadding">
                <div class="col grey">
                    <input type="text" ng-model="soeg.salme" ng-click="soeg.salme = ''" placeholder="Søg efter salme" class="form-control" />
                </div>
                <div class="col col-20 grey nopadding">
                    <button class="button icon ion-search"></button>
                </div>
            </div>
        </form>
        <div class="listview">
            <ion-item ng-repeat="salme in salmer" href="#/app/salmer/{{salme.id}}">
            <div class="col grey salme">
                <p>Salme nr: {{salme.nr}}</p>
                <h2>{{salme.title}}</h2>
                <p>{{salme.performer}}</p>
            </div>
            </ion-item>
        </div>
        </div>
    </ion-list>
    <ion-infinite-scroll ng-if="moreSalmer"
          on-infinite="loadMoreSalmer()"
          distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
