
<ion-view>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  <ion-content class="has-header" overflow-scroll="true">
      <div class="row nopadding">
        <div id="theVideoDiv" class="col video">
            <div ng-bind-html="vistord.videotag"></div>
        </div>
      </div>
      <div class="row"><div class="spacer"></div></div>
      <div class="row">
          <div class="col blue">
              <div class="row nopadding">
                  <div class="col light nopadding nobackground">
                      <p class="meta text-left">{{vistord.performer}}</p>
                  </div>
                  <div class="col col-25 nopadding text-right col-top">
                      <ion-item class="nopadding"><img class="dagensord" src="img/LOGO_dagensord.png" alt="" /></ion-item>
                  </div>
              </div>
              <div class="row">
                  <div class="col light nobackground setheight">
                    <h3>{{vistord.title}}</h3>
                    <p>{{vistord.text}}</p>
                    <p class="meta">{{vistord.lyrics}}</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="row"><div class="spacer"></div></div>
      <div class="row">
          <div class="col blue" >

          </div>
          <div class="col col-50 col-offset-1 blue">
              <ion-item href="#/app/ord" class="search"><h3>Flere dagens ord</h3></ion-item>
          </div>
      </div>
  </ion-content>

    <ion-footer-bar align-title="left" class="bar-positive">
        <div id="share">
            <button class="twitter" ng-click="shareViaTwitter()"></button>
            <button class="facebook" ng-click="shareViaFacebook()"></button>
            <button class="sms" ng-click="shareViaSMS()"></button>
        </div>
        <div id="webshare">
            <div class="addthis_sharing_toolbox"></div>
        </div>
    </ion-footer-bar>

</ion-view>
