<ion-view>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  <ion-content class="has-header">
      <div class="row">
          <div class="col col-25 grey">
            <ion-item href="#/app/salmer"><img src="img/LOGO_salmer.png" alt="" /></ion-item>
          </div>
          <div class="col col-offset-1 grey">
              <p>&nbsp;</p>
          </div>
      </div>
      <div class="row"><div class="spacer"></div></div>
      <div class="row">
              <div class="col grey">
                  <div class="col grey light">
                      <h3>{{vistsalme.nr}}: {{vistsalme.title}}</h3>
                      <p class="meta">Mel: {{vistsalme.composer}}</p>
                      <p>{{vistsalme.text}}</p>
                      <p class="meta">Tekst: {{vistsalme.lyrics}}</p>
                  </div>
              </div>
      </div>
      <div class="row"><div class="spacer"></div></div>
      <div class="row">

          <div class="col grey">

          </div>
          <div class="col col-40 col-offset-1 grey">
              <ion-item href="#/app/salmer" class="search"><h3>Søg i salmer</h3></ion-item>
          </div>
      </div>


  </ion-content>
    <ion-footer-bar align-title="left" class="bar-positive">

    </ion-footer-bar>
</ion-view>
