<ion-view >
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  <ion-content class="has-header">

      <div class="row">
          <div class="col col-25 grey">
            <ion-item href="#/app/salmer"><img class="logo_small" src="img/LOGO_salmer.png" alt="" /></ion-item>
          </div>
          <div class="col col-offset-1 text-center grey">
              <button class="play" ng-click="playAudio()"></button>
              <button class="pause" ng-click="pauseAudio()"></button>
              <button class="stop" ng-click="stopAudio()"></button>
          </div>
      </div>
      <div class="row"><div class="spacer"></div></div>
      <div class="row">
              <div class="col grey">
                  <div class="col grey light">
                      <h3>{{vistsalme.nr}}: {{vistsalme.title}}</h3>
                      <p class="meta">Mel: {{vistsalme.composer}}</p>
                      <p>{{vistsalme.text}}</p>
                      <p class="meta">Tekst: {{vistsalme.lyrics}}</p>
                  </div>
              </div>
      </div>
      <div class="row"><div class="spacer"></div></div>
      <div class="row">
          <div class="col grey">

          </div>
          <div class="col col-40 col-offset-1 grey">
              <ion-item href="#/app/salmer" class="search"><h3>Søg i salmer</h3></ion-item>
          </div>
      </div>

      
  </ion-content>
    <ion-footer-bar class="bar-positive">
        <div class="share">
            <button class="twitter" onclick="window.plugins.socialsharing.shareViaTwitter('Her skal stå et eller andet')"></button>
            <button class="facebook" onclick="window.plugins.socialsharing.shareViaFacebook('Facebook: Jeg slår noget op :-)', null /* img */, null /* url */, function() {console.log('share ok')}, function(errormsg){alert(errormsg)})"></button>
            <button class="sms" onclick="window.plugins.socialsharing.shareViaSMS('Her får du lige en sms fra Dagens Ord', null, function(msg) {console.log('ok: ' + msg)}, function(msg) {alert('error: ' + msg)})"></button>
        </div>
    </ion-footer-bar>
</ion-view>
