<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="dk.folkekirken.dagensord" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Dagens Ord</name>
  <description>
      Dagens ord er et tankevækkende input i hverdagen - lige når og hvor, man har brug for det.
    </description>
  <author email="redaktion@folkekirken.dk" href="http://www.folkekirken.dk">
      Folkekirken.dk i samarbejde med DR.
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="Orientation" value="portrait" />
  <preference name="SplashScreen" value="screen" />
  <preference name="SplashScreenDelay" value="2000" />
    <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
    </feature>
    <feature name="Media">
        <param name="ios-package" value="CDVSound" onload="true"/>
    </feature>
</widget>