/* Cols */
.col-30 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 36.8333%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 36.8333%;
    -ms-flex: 0 0 36.8333%;
    flex: 0 0 36.8333%;
    max-width: 36.8333%; }
.col-40 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 45.16667%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 45.16667%;
    -ms-flex: 0 0 45.16667%;
    flex: 0 0 45.16667%;
    max-width: 45.16667%; }
.col-60 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 53.5%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 53.5%;
    -ms-flex: 0 0 53.5%;
    flex: 0 0 53.5%;
    max-width: 53.5%; }
.col-70 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 61.8333%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 61.8333%;
    -ms-flex: 0 0 61.8333%;
    flex: 0 0 61.8333%;
    max-width: 61.8333%; }
.col-offset-1 {
    margin-left: 0.3em; }
.col-logo {
    max-width: 107px;
}
.spacer {
    min-height: 0.3em;
}
.bottomfill {
    min-height: 80px;
}
img {
    width: 100%;
    border: none;
}
.col.image {
    padding: 0px;
    width: 100%;
}
.col.video {
    /*position: absolute;*/
    width: 100%;
    z-index:9999;
}
/* Menu */
.menu {
    background: #585858;
}
.menu .item {
    border-width: 1px;
    border-style: solid;
    border-color: #bcbdc0;
}
.menu .item-complex .item-content, .menu .item-radio .item-content {
    background-color: #404041;
    color: #FFF;
    font-size: 1.15em;
}
.menu-content {
    box-shadow: none; }

/* Navigation */

.bar.bar-stable {
    background-color: #656565;
    background-image: none;
    border-color: #656565;
    color: #FFF;
}
.bar-stable .button {
    background-color: #656565;
    border-color: #656565;
    color: #FFF;
}
.bar.bar-stable .title {
    color: #FFF;
}
.bar.bar-positive {
    background-color: #656565;
    background-image: none;
    border-color: #656565;
    color: #fff;
}
.bar-stable .button.button-clear {
    color: #fff;
}
.title img {
    padding-top: 13px;
    max-width: 100px;
}

/* Listview + søg */
.soeg,
.soegsalme {
    margin: 0.3em;
}
html .soeg input[type="text"],
html .soegsalme input[type="text"]{
    color: #111;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 18px;
    padding-left: 10px;
    padding-top: 2px;
    vertical-align: middle;
    -webkit-appearance: none;
    border: 2px solid #FFF;
    border-radius: 0.5em;
    background: #FFF;
}
.soeg .button {
    min-height: 34px;
    min-width: 50px;
    background: #016699;
    padding: 0;
    margin: 14px 0 0 2px;
    font-family: "Ionicons";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    text-transform: none;
    content: "\f21f";
    border: 1px solid #99c2d6;
    border-radius: 0.5em;
}
.soeg .button .icon:before, .soeg .button.icon:before, .soeg .button.icon-left:before, .soeg .button.icon-right:before {
    font-size: 26px;
    line-height: 30px;
    padding: 0 0 1px;
    pointer-events: none;
    vertical-align: inherit;
    color: #FFF;
    opacity: .6;
}
.soegsalme .button {
    min-height: 34px;
    min-width: 50px;
    background: #7152a2;
    padding: 0;
    margin: 14px 0 0 2px;
    font-family: "Ionicons";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    text-transform: none;
    content: "\f21f";
    border: 1px solid #c6b9da;
    border-radius: 0.5em;
}
.soegsalme .button .icon:before, .soegsalme .button.icon:before, .soegsalme .button.icon-left:before, .soegsalme .button.icon-right:before {
    font-size: 26px;
    line-height: 30px;
    padding: 0 0 1px;
    pointer-events: none;
    vertical-align: inherit;
    color: #FFF;
    opacity: .6;
}
.listview {
    margin: 0 0.3em 0.3em 0.3em;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
}
.listview .item {
    border-left: none;
    border-right: none;
    border-top: 1px solid #FFF;
    border-bottom: none;
}
.listview .item-complex .item-content, .listview .item-radio .item-content {
    background-color: transparent;
    padding: 0;
}
.listview p {
    color: #FFF;
}
.listview p.meta {
    font-style: italic;
    font-size: 0.7em;
    padding-bottom: 0.7em;
    line-height: 1em;
}
.listview p.meta_small {
    font-style: italic;
    font-size: 0.6em;
    padding-top: 0.5em;
    padding-bottom: 0.35em;
    line-height: 1.3em;
    margin: 0;
}
.listview h2 {
    color: #FFF;
    font-weight: bold;
    padding-top: 0.6em;
    font-size: 0.95em;
    line-height: 1.3em;
    /*white-space: pre-wrap;*/
    /*word-wrap: normal;*/
}
h2.h2ord {
    padding-bottom: 0;
    padding-top: 0;
}
.listview img {
    /*max-width: 200px;*/
    /*height: auto;*/
    display: inherit;
    margin-bottom: -4px;
}
.listview .salme p {
    font-size: 0.8em;
    font-style: italic;
    line-height: auto;
    margin: 0 0 0.2em 0;
}
.listview .salme h2 {
    padding-top: 0;
    font-size: 0.95em;
    line-height: 1.3em;
}

/* Color-classes */
.black{
    background: #000000;
    border:1px solid #FFFFFF;
}
.grey {
    background: #989898;
    padding: 1em;
}
.purple {
    background: #7152a2;
    padding: 1em;
}
.yellow {
    background: #FFCC05;
    padding: 1em;
}
.blue {
    background: #016699;
    padding: 1em;
}
.green {
    background: #659940;
    padding: 1em;
}
.image .item,
.blue .item,
.green .item,
.yellow .item,
.grey .item,
.purple .item {
    border: none;
    background-color: transparent;
}
.blue .item p,
.green .item p,
.yellow .item p,
.grey .item p,
.purple .item p{
    color: #FFF;
}
.image .item-complex .item-content, .image .item-radio .item-content,
.blue .item-complex .item-content, .blue .item-radio .item-content,
.green .item-complex .item-content, .green .item-radio .item-content,
.yellow .item-complex .item-content, .yellow .item-radio .item-content,
.grey .item-complex .item-content, .grey .item-radio .item-content,
.purple .item-complex .item-content, .purple .item-radio .item-content {
    background-color: transparent;
    padding: 0;
}
.light {
    background: #7f64ab;
    border: 2px solid #7f64ab;
    border-radius: 1em;
    text-align: center;
}
.lightgreen {
    background: #659940;
    border: 2px solid #659940;
    border-radius: 1em;
    text-align: center;
    min-height: 367px;
}
.lightgreen p {
    white-space: pre-wrap;
    font-size: 1.15em;
    line-height: 1.4em;
    word-wrap: normal;
    color: #FFF;
}
.lightblue {
    background: #1b76a3;
    border: 2px solid #1b76a3;
    border-radius: 1em;
    text-align: left;
}
.lightblue p {
    white-space: pre-wrap;
    font-size: 1.1em;
    line-height: 1.4em;
    word-wrap: normal;
    color: #FFF;
}
.lightblue p b,
.lightblue p strong{
    font-size: 1.1em;
    line-height: 1.4em;
}
.light p {
    white-space: pre-wrap;
    font-size: 1.15em;
    line-height: 1.4em;
    word-wrap: normal;
}
.light h3 {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.4em;
}
.light * {
    color: #FFF;
}
.light p.meta {
    font-size: 0.9em;
    font-style: italic;
}
.search {
    text-align: center;
}
.search h3 {
    font-size: 1.10em;
    font-weight: bold;
    color: #FFF;
}
.image .ng-binding {
    padding: 0;
    margin-bottom: -5px;
    border: 1px solid #FFF;
}
img.logo {
    max-height: 90px;
    width: auto;
}
img.logo_small {
    max-height: 55px;
    width: auto;
}
img.logo.more {
    max-height: 55px;
    width: auto;
    padding-top: 0.5em;
}
img.dagensord {
    max-height: 55px;
    width: auto;
    padding: 6px 0 0 0;
    margin-bottom: 1.4em;
}
p.dagens {
    white-space: pre-wrap;
    font-size: 0.8em;
    word-wrap: normal;
    font-style: italic;
}
p.dagens span {
    font-style: normal;
    font-weight: bold;
    display: block;
}
.nobackground {
    background: transparent none;
    border: none;
}
.nopadding {
    padding: 0;
}
.padding_right {
    padding: 0 1em 0 0;
}
.padding_leftright2 {
    padding: 1em 2em 1em 2em;
}
.listpadding {
    padding: 0 0.5em 0 0.5em;
}

/* Bønner */

.green h2 {
    color: #FFF;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 0.2em;
}
.greenbean {
    height: 300px;
    width: 310px;
    background: #659940 url("../img/skriveboble.png") center no-repeat;
    background-size: 100%;
    /*padding: 3em 0 3em 0;*/
}
.greenbean p {
    white-space: pre-wrap;
    font-size: 1.05em;
    line-height: 1.2em;
    word-wrap: normal;
    color: #FFFFFF;
    /*padding-top: 1em;*/
}
.beanslider {
    max-width: 310px;
}
.beantext {
    width: 180px;
    height: 170px;
    margin-left: 33px;
    margin-top: 75px;
    overflow: hidden;
}
#prev,
#next {
    height: 300px;
}
#prev_yellow,
#next_yellow {
    min-height: 300px;
    height: auto;
}
#prev {
    background: #659940 url("../img/prev.jpg") center no-repeat;
    background-size: 60%;
}
#next {
    background: #659940 url("../img/next.jpg") center no-repeat;
    background-size: 60%;
}
#prev_yellow {
    background: #ffcd0a url("../img/prev_yellow.jpg") center no-repeat;
    background-size: 60%;
}
#next_yellow {
    background: #ffcd0a url("../img/next_yellow.jpg") center no-repeat;
    background-size: 60%;
}
.meretxt {
    margin: 0.5em 0.5em 1em 0.5em;
    padding: 0.5em;
    border: 2px solid #FFF;
    border-radius: 0.5em;
    background: #FFF;
    min-height: 460px;
}
.mere {
    /*min-height: 300px;*/
}
.mere h2 {
    color: #FFF;
    padding: 0.5em 0 0 0;
}
.mere p {
    white-space: pre-wrap;
    font-size: 1em;
    line-height: 1.3em;
    word-wrap: normal;
    color: #231f20;
}

/* Input */
textarea {
    height: 12em;
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 0.5em;
    padding: 1em;
    -webkit-appearance: none;
}

/* Share */
#share {
    width: 100%;
    text-align: center;
    margin-top: 2px;
}
#webshare {
    width: 100%;
    text-align: center;
    display: none;
}
.facebook {
    background: transparent url("../img/FB-f-Logo__blue_144.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    border: none;
    margin: 0 30px 0 0;
}
.twitter {
    background: transparent url("../img/Twitter_logo_blue.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    border: none;
    margin: 0 30px 0 0px;
}
.sms {
    background: transparent url("../img/sms_logo.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    border: none;
    margin: 0;
}

/* Audio play */
#playbutton {
    background: transparent url("../img/play_ikon.png");
    background-size: 3em 3em;
    width: 3em;
    height: 3em;
    border: none;
    margin: 0;
}
#pausebutton {
    background: transparent url("../img/pause_ikon.png");
    background-size: 3em 3em;
    width: 3em;
    height: 3em;
    border: none;
    margin: 0;
    display: none;
}
#stopbutton {
    background: transparent url("../img/stop_ikon.png");
    background-size: 3em 3em;
    width: 3em;
    height: 3em;
    border: none;
    margin: 0 0 0 30px;
    display: none;
}
.bottomfill {
    display: none;
}




@media (min-height: 540px ){
    .bottomfill {
        display: block;
    }
    .setheight {
        min-height: 345px;
    }
}




@media (min-width: 321px) {
    img.logo_small {
        max-height: 65px;
        width: auto;
    }
    .greenbean p {
        font-size: 1.15em;
        line-height: 1.4em;
    }
    .beantext {
        width: 220px;
        height: 220px;
        margin-left: 30px;
        margin-top: 75px;
    }
    .minheight {
        min-height: 115px;
    }
    .setheight {
        min-height: 155px;
    }
}




@media (min-width: 567px) {

}




@media (min-width: 768px) {
    /* Top + menu */
    .title img {
    margin-top: 23px;
    max-width: 190px;
    padding: 0;
    }
    .bar .title {
        height: 87px;
        line-height: 88px;
    }
    .has-footer {
        bottom: 88px;
    }
    .has-header {
        top: 88px;
    }
    .bar {
        height: 88px;
        z-index: 10;
    }
    .bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before {
        font-size: 64px;
        line-height: 77px;
        vertical-align: top;
    }
    .bar .button.button-clear .icon:before, .bar .button.button-clear.icon:before, .bar .button.button-clear.icon-left:before, .bar .button.button-clear.icon-right:before {
        font-size: 50px;
        line-height: 77px;
        vertical-align: top;
        padding-left: 16px;
    }
    .platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
        height: 108px;
    }
    .platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader {
        top: 108px;
    }
    .menu .item-complex .item-content, .menu .item-radio .item-content {
        background-color: #404041;
        color: #fff;
        font-size: 1.6em;
    }
    .item-complex .item-content, .item-radio .item-content {
        padding: 24px 49px 24px 16px;
    }
    /* Bund */
    .bottomfill {
        min-height: 205px;
    }
    /* Forsiden */
    p.dagens {
        line-height: 1.3em;
        padding-right: 1em;
        font-size: 1.6em;
    }
    img.logo {
        max-height: 180px;
        width: auto;
    }
    img.logo.more {
        max-height: 110px;
        padding-top: 1em;
        width: auto;
    }
    .leftlogo {
        padding-left: 1em;
    }
    /* Audio Playikoner */
    #playbutton {
        background: transparent url("../img/play_ikon.png") center no-repeat;
        background-size: 50px 50px;
        width: 90px;
        height: 70px;
        border: none;
        margin: 10px 0 0 0;
    }
    #pausebutton {
        background: transparent url("../img/pause_ikon.png") center no-repeat;
        background-size: 50px 50px;
        width: 90px;
        height: 70px;
        border: none;
        margin: 10px 0 0 0;
        display: none;
    }
    #stopbutton {
        background: transparent url("../img/stop_ikon.png") center no-repeat;
        background-size: 50px 50px;
        width: 90px;
        height: 70px;
        border: none;
        margin: 10px 0 0 50px;
        display: none;
    }
    /* Share */
    .facebook {
        background: transparent url("../img/FB-f-Logo__blue_144.png");
        background-size: 45px 45px;
        width: 45px;
        height: 45px;
        border: none;
        margin: 15px 45px 0 0;
    }
    .twitter {
        background: transparent url("../img/Twitter_logo_blue.png");
        background-size: 45px 45px;
        width: 45px;
        height: 45px;
        border: none;
        margin: 15px 45px 0 0;
    }
    .sms {
        background: transparent url("../img/sms_logo.png");
        background-size: 45px 45px;
        width: 45px;
        height: 45px;
        border: none;
        margin: 15px 0 0 0;
    }
    /* Vis salme */
    img.logo_small {
        max-height: 160px;
        width: auto;
        padding-left: 1em;
    }
    .light p {
        white-space: pre-wrap;
        line-height: 1.4em;
        word-wrap: normal;
        font-size: 1.7em;
    }
    .light p.meta {
        font-size: 1.2em;
        font-style: italic;
    }
    .light h3 {
        line-height: 1.1em;
        font-size: 2.1em;
    }
    .search h3 {
        color: #fff;
        font-size: 1.8em;
        font-weight: bold;
    }
    /* Listeview */
    .listview .salme p {
        font-size: 1.6em;
        font-style: italic;
        line-height: 1.6em;
        margin: 0 0 0.2em 0;
    }
    .listview .salme h2 {
        padding-top: 0;
        font-size: 2.1em;
        line-height: 1.3em;
        margin: 0 0 0.2em 0;
    }
    /* Søgefelter */
    html .soeg input[type="text"],
    html .soegsalme input[type="text"]{
        font-size: 24px;
        height: 54px;
        line-height: 30px;
    }
    .soeg .button {
        min-height: 54px;
        min-width: 100px;
    }
    .soeg .button .icon:before, .soeg .button.icon:before, .soeg .button.icon-left:before, .soeg .button.icon-right:before {
        font-size: 36px;
        line-height: 36px;
    }
    .soegsalme .button {
        min-height: 54px;
        min-width: 100px;
    }
    .soegsalme .button .icon:before, .soegsalme .button.icon:before, .soegsalme .button.icon-left:before, .soegsalme .button.icon-right:before {
        font-size: 36px;
        line-height: 36px;
    }
    .listview p.meta {
        font-style: italic;
        font-size: 1.2em;
        padding-bottom: 0.7em;
        padding-left: 10px;
        padding-right: 5px;
    }
    .listview p.meta_small {
        font-style: italic;
        font-size: 0.9em;
        padding-top: 1.1em;
        padding-bottom: 0.7em;
        padding-left: 10px;
        padding-right: 5px;
        line-height: 1.6em;
    }
    .listview h2 {
        color: #FFF;
        font-weight: bold;
        padding-top: 0.7em;
        font-size: 1.6em;
        line-height: 1.1em;
    }
    h2.h2ord {
        padding-bottom: 0.4em;
        padding-top: 0;
        padding-left: 10px;
        padding-right: 5px;
    }
    /* Vis dagens ord*/
    img.dagensord {
        max-height: 150px;
        margin-bottom: 2em;
        padding: 15px 0 0;
        width: auto;
    }
}


@media (min-width: 1024px) {

}

@media (min-width: 1500px) {

}

