.col-30 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 36.8333%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 36.8333%;
    -ms-flex: 0 0 36.8333%;
    flex: 0 0 36.8333%;
    max-width: 36.8333%; }
.col-40 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 45.16667%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 45.16667%;
    -ms-flex: 0 0 45.16667%;
    flex: 0 0 45.16667%;
    max-width: 45.16667%; }
.col-60 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 53.5%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 53.5%;
    -ms-flex: 0 0 53.5%;
    flex: 0 0 53.5%;
    max-width: 53.5%; }
.col-70 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 61.8333%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 61.8333%;
    -ms-flex: 0 0 61.8333%;
    flex: 0 0 61.8333%;
    max-width: 61.8333%; }
.col-offset-1 {
    margin-left: 1.33333%; }
.spacer {
    min-height: 4px;}
img {
    width: 100%;
    max-width: 620px;
}
@media (min-width: 480px) {
    .spacer {
        min-height: 6px; }
}
@media (min-width: 567px) {
    .spacer {
        min-height: 9px; }
}
@media (min-width: 768px) {
    .spacer {
        height: 12px; }
}
@media (min-width: 1024px) {
    .spacer {
        height: 15px; }
}
@media (min-width: 1500px) {
    .spacer {
        height: 22px; }
}